<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Richie Cake {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        .card{ @apply bg-white border rounded-lg p-6 }
        .btn{ @apply bg-blue-600 text-white px-4 py-2 rounded;}
        input, select, textarea { @apply w-full border rounded px-3 py-2 mb-3 }
        label {@apply block text-sm font-medium }
    </style>
</head>
<body>
    {% block content %}
    <nav>
        <a href="{% url 'index_page' %}">Richie Cake</a>
        <a href="{% url 'register' %}">Sign Up</a>
         <a href="{% url 'login' %}">Sign In</a>
          
    </nav>
    {% endblock %}
    
</body>
</html>