{% extends 'base.html' %}
{% block content %}
<div class="card max-w-sm mx-auto">
    <h1 class="text-xl font-bold mb-4">Register</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn">Sign Up</button>

    </form>
     <div class="text-center text-sm text-gray-600 mt-6 border-t border-gray-100 pt-4">
        Already have an account? 
        <a href="{% url 'login' %}" class="text-black font-semibold hover:underline">Log in here</a>
    </div>

</div>

{% endblock %}